
.ho-bg-color{
    background-color: rgb(255, 255, 255);
}
.laptop-info{
    display: flex;
}
.div-info{
    border: none;
}
.card-title{
    color: rgb(66, 66, 66);
    font-weight: bold;
}
.btn-demo button{
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    color: rgb(59, 16, 16);
    background: rgb(229, 190, 255);
    border-radius: 8px;
}
.btn-demo button:hover{
    background: rgb(198, 128, 255);
    color: rgb(37, 17, 63);
    font-size: 16.5px;
}
.container img{
    margin-top: 0;
    width: 300px;
    height: 300px;
}
h2{
    margin: 40px;
    text-align: center;
}
.coustomer-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
}
.coustomer-btn-min{
    padding-inline: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgba(224, 162, 253, 0.747);
}
.coustomer-btn-min:hover{
    background-color: rgb(190, 140, 255);
}
.costomer-review{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media screen and (max-width: 900px){
    .costomer-review{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}